*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

header{
background-color: #108e2b;
height: 10vh;
line-height: 10vh;
text-align: center;
}

section{
    margin-top: 20px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    font-size: 35px;
}

.add-item input,.outer-div input{
    padding: 10px;
    width: 300px;
    border: 2px solid rgb(223, 218, 218);
    border-radius: 4px;
}

.sub-btn{
    padding: 10px;
    background-color: black;
    color: white;   
    border-radius: 4px;
    margin-inline:10px
}

.outer-div input{
  padding: 6px;
  width: 250px;
}

.edit,.delete{
    padding: 7px;
    background-color: green;
    color: white;  
    width: 50px; 
    border-radius: 4px;
    border: none;
    margin-inline: 3px;
}
.delete{
    background-color: red;
    border: none;
  padding: 7px;
  border: none;
  margin-inline: 3px;
}

h3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

footer{
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}
